<h4>Here are all your posts!</h4>

<hr>

<% @posts.each do |post| %>
  <%= link_to "#{post.name}", post_path(post.id) %>
  <% if post.user_id == current_user.id %>
    <%= link_to "Edit", edit_post_path(post.id), class: 'btn btn-default btn-success btn-sm' %>
    <%= link_to "Delete", post_path(post.id), method: :delete, class: 'btn btn-default btn-danger btn-sm' %>
  <% end %>
  <hr>
<% end %>
